################################################
# FileSystem Configuration
################################################
spring.servlet.multipart.max-file-size=9046KB
spring.servlet.multipart.max-request-size=9046KB

################################################
# Database configuration
################################################
spring.datasource.url=jdbc:postgresql://postgresqlurl:5432/dbname
spring.datasource.driverClassName=org.postgresql.Driver
spring.datasource.username=user
spring.datasource.password=pass
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

spring.jpa.generate-ddl=false
spring.jpa.hibernate.ddl-auto=none
spring.datasource.platform=postgresql
# spring.datasource.data=classpath:data/data.sql
# spring.datasource.initialization-mode=always


################################################
# Security
################################################
allowed.ip="0:0:0:0:0:0:0:1,0:0:0:0:0:0:0:2"
storage=/tmp/uploads
